* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --primary: #1e2328;
  --second: #fafafa;
  --text: #1e2328;
  --title: #efb90b;
}

body {
  background-color: var(--second);
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  background-color: var(--primary);
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--title);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .home {
  margin-left: 10%;
}

.header a {
  color: var(--title);
  font-size: 1rem;
}

.header a:hover {
  text-decoration: underline;
  color: var(--second);
  transition: color;
  transition-duration: 500ms;
}

.header a:active {
  font-size: 0.9rem;
}

.header .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  width: 80%;
  margin-right: 10%;
}

.header .menu ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.header .menu ul a {
  text-decoration: none;
  margin: 0 10px;
  color: var(--title);
}

.header .menu ul a:hover {
  text-decoration: underline;
  color: var(--second);
  transition: color;
  transition-duration: 250ms;
}

.header .menu ul a:active {
  font-size: 0.9rem;
}



.header .menu .drop-down li {
    padding: 5px 0px;
    list-style: none;
}

/* Bars */

/* .menu .bars {
    display: none;
    color: var(--title);
    font-size: 1.5rem;
} */

@media only screen and (max-width: 500px) {

/* drop-down */
.header .menu .drop-down {
    width: 100%;
    display: none; 
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .bars {
    display: block;
    color: var(--title);
    font-size: 1.5rem;
}

}

/* Main */

.main {
  margin: 70px 10% 0 10%;
}

/* Container Form */

.container-form {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form h1 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.container-form .form form {
  margin: 0 auto;
  width: 300px;
  height: auto;
  display: block;
}

input {
  margin: 10px 0px;
  height: 30px;
  width: 300px;
  border: 1px solid black;
  padding-left: 3px;
}

input:focus {
  border: 2px solid var(--title);
  box-shadow: 0px 0px 3px 1px var(--title);
  outline: none;
}

textarea {
  width: 300px;
  height: 60px;
  padding-left: 3px;
  margin-top: 10px;
}

textarea:focus {
  border: 2px solid var(--title);
  box-shadow: 0px 0px 3px 1px var(--title);
  outline: none;
}

button {
  width: 100%;
  height: 30px;
  background-color: var(--title);
  color: var(--primary);
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: var(--second);
  transition: background-color;
  border: solid 3px var(--title);
  transition-duration: 250ms;
}

button:active {
  background-color: var(--primary);
  color: var(--second);
  border: #1e2328;
  height: 25px;
}

/* About Me */

.about {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about .biografia {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .biografia h2 {
  padding-bottom: 15px;
  font-size: 1.4rem;
}

.about .biografia p {
  color: var(--text);
}

.about .bg-img {
  background-image: url(./img/Abner\ Estévez.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 3px var(--title);
  width: 300px;
  height: 300px;
  cursor: pointer;
}

/* Modal */

.modalContainer {
    display: none;
    background-color: var(--second);
    position: fixed;
    width: 85%;
    max-width: 750px;
    height: auto;
    top: 50%;
    left: 50%;
    margin: 20px auto;
    transform: translate(-50%, -50%);
    border: solid 2px var(--title);
    z-index: 2;
}

.modalContainer .close {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    display: flex;
    position: absolute;
    border: solid 3px var(--second);
    border-radius: 50%;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal-content {
    padding: 5px; 
    max-width: auto;
    height: auto;
}

.modal-content img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Projects */

.projects {
  height: 600px;
  height: auto;
  z-index: 1;
}

.projects h2 {
  font-size: 1.4rem;
  flex-basis: 100%;
  padding-top: 3%;
  margin-bottom: 40px;
  font-weight: 900;
  color: var(--text);
}

.projects .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.project-img {
  width: 350px;
  min-height: 300px;
  border: solid 2px var(--title);
  margin: 1%;
  box-shadow: 5px 10px var(--title);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-img:hover {
  box-shadow: 10px 20px var(--primary);
  border: solid 2px var(--primary);
  transition-duration: 350ms;
}

.project-img:active {
  box-shadow: 5px 10px var(--primary);
  transition-duration: 150ms;
}

.project-img img {
  width: 100%;
  display: flex;
}

.project-img p {
  text-align: center;
  font-style: italic;
  color: var(--text);
}

/* Skills */

.skills h2 {
  font-size: 1.4rem;
  margin-top: 80px;
  font-weight: 900;
}

.skills div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills div i {
  font-size: 2.5rem;
}

.skills div i:hover {
  color: var(--title);
  transition: color;
  transition-duration: 350ms;
}

/* Footer */

.footer {
  width: 100%;
  height: 150px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container-footer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer .container-footer p {
  font-size: 0.9rem;
  color: var(--title);
  font-weight: 400;
}

.redes a i {
  font-size: 1.6rem;
  margin: 0 20px;
  color: var(--title);
}

.redes a i:hover {
  color: var(--second);
  transition: color;
  transition-duration: 350ms;
}

@media only screen and (max-width: 1200px) {

    .about {
        height: auto;
    }

  .about .biografia {
    width: 100%;
    height: auto;
  }

  .about .bg-img {
    margin-top: 20px;
  }

  .project-img {
    margin: 15px;
  }
}

@media only screen and (max-width: 400px) {

  .about .biografia {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .projects h2 {
    flex-basis: 100%;
    padding-top: 20px;
    margin: 40px 0px;
    font-weight: 900;
    color: var(--text);
  }

  .project-img {
    width: 400px;
    margin: 15px;
  }

.skills div {
    height: auto;
}


  .skills div i {
    font-size: 2rem;
    padding: 15px;
  }

}

@media only screen and (max-width: 280px) {
  .header .home {
    margin-left: 5%;
  }

  .main {
    margin: 60px 2% 0 2%;
  }

  .about .biografia {
    width: 90%;
    height: auto;
  }
  .projects h2 {
    font-size: 1.4rem;
    margin-left: 5%;
  }

  .about .bg-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .project-img {
    width: 400px;
    margin: 15px;
  }

  .skills h2 {
    margin-left: 5%;
  }

  .skills div i {
    font-size: 1.5rem;
  }

  .footer {
    height: 100px;
  }
  .redes a i {
    font-size: 1rem;
  }
}
